{% extends 'security/base.html.twig' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row m-b-2">
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="activities-sidbar">Recuperá tu contraseña</h4>
                    <p>Con tu correo electrónico vas a poder generar una nueva contraseña para acceder a la
                        plataforma.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% for flashError in app.flashes('reset_password_error') %}

                        <div id="errores" aria-live="polite" class="alert alert-danger">
                            <h5>Se han producido los siguientes errores:</h5>
                            <ol>
                                <li>{{ flashError }}</li>

                            </ol>
                        </div>
                    {% endfor %}

                    {{ form_start(requestForm) }}

                    <div class="row">
                        <div class="col-md-10 form-group item-form">
                            {{ form_row(requestForm.email) }}
                            <p class="help-block error hidden">Ingresá un correo electrónico <br> El correo
                                electrónico tiene un formato no válido</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success">ENVIAR</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <hr>
                        </div>
                    </div>
                    {{ form_end(requestForm) }}


                    <div class="row">
                        <div class="col-xs-12">
                            <p><a href="{{ path('app_login') }}">Volver al Inicio</a></p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

{% endblock %}